<div id="<%= p_id %>">
	<h3><%= p_title %><% if p_title == 'Physical Storage Information' %> <a href="#target-top_containers" id="info-modal"><i class="fa fa-info-circle" aria-hidden="true"></i></a><% end %></h3>
	<%= p_body %></div>
