<div class="container-fluid panel-footer">
	<div class="row">
		<div class="col-lg-2 col-lg-offset-3 col-md-4 col-md-offset-0 col-sm-5 col-sm-offset-2 col-xs-10 col-xs-offset-1 locations">
			<h3>Hagley Museum</h3>
			<p>200 Hagley Creek Road</p>
			<p>Wilmington, DE 19807</p>
			<br>
			<h3>Hagley Library</h3>
			<p>298 Buck Road</p>
			<p>Wilmington, DE 19807</p>
			<br>
			<h3>Contact</h3>
			<p>(302) 658-2400</p>
			<p>AskHagley@hagley.org</p>
			<div class="socialIcons">
				<a class="icons twitter" href="https://twitter.com/hagleyde" target="_blank" title="Twitter">Twitter</a> 
				<a class="icons facebook" href="https://www.facebook.com/HagleyMuseumandLibrary/" target="_blank" title="Facebook">Facebook</a> 
				<a class="icons youtube" href="https://www.youtube.com/user/HagleyMuseum" target="_blank" title="YouTube">YouTube</a> 
				<a class="icons instagram" href="https://instagram.com/hagleymuseum/" target="_blank" title="Instagram">Instagram</a>
				<a class="icons tumblr" href="https://hagleyvault.org/" target="_blank" title="Tumblr">Tumblr</a>
			</div>
		</div>

		<div class="col-lg-2 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1 quick-links">
			<ul>
				<li><a href="https://www.hagley.org/plan-your-visit">Plan Your Visit</a></li>
				<li><a href="https://www.hagley.org/research">Research</a></li>
				<li><a href="https://www.hagley.org/hagley-heritage-curators">Hagley Heritage Curators</a></li>
				<li><a href="https://www.hagley.org/support-hagley/volunteer">Volunteer</a></li>
				<li><a href="https://www.signup82north.com/beventLive.aspx?EventID=NBI14265880">Donate</a></li>
				<li><a href="https://www.hagley.org/support-hagley/about-us/rentals">Rental Options</a></li>
				<li><a href="https://www.hagley.org/privacy">Privacy</a></li>
			</ul>

                        <div class="map_img">
                                <div class="smith">
					<a href="https://affiliations.si.edu/" title="Smithsonian affiliate" aria-label="Smithsonian affiliate">
						<img class="smith-logo" src="/assets/images/smith_logo.png">
					</a>
                                </div>
                        </div>
		</div>
		
		<div class="col-lg-2 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 news-logos">
			<h3>Library Newsletter</h3>
			<p>Stay informed! The collections and research newsletter brings you the latest on our acquisitions, library events, and programs.</p> 
			
			<div class="footer-link"><a href="http://eepurl.com/c7WHDX" target="_blank"> Click here to subscribe</a></div>
					
		</div>
	</div>
  <div class="row">
     <div class="col-md-12">
       <p class="footer-items"><a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a>
         | <%= ASConstants.VERSION %>
     </div>
  </div>
</div>
