<section  id="header">
  <div class="row">
    <div class="hagley-menu-wrapper">
      <ul id="hagley-menu">
          <li class="menu_first"><a href="https://www.hagley.org/research" target="_blank">RESEARCH</a></li>
          <li><a href="https://www.hagley.org/research/collections/researcher-services" target="_blank">SERVICES</a></li>
	  <li>
          <a title="Return to Hagley.org" href="https://www.hagley.org">
        <img id="hmill" src="/assets/images/hagley_logo_horiz_white.png"/>
          </a>
  </li>
          <li><a href="https://www.hagley.org/research/search-hagley-collections" target="_blank">SEARCH GUIDE</a></li>
          <li class="menu_last"><a href="https://www.hagley.org/contact-us">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</section>
