<div class="row">
  <div class="col-sm-8 welcome">
    <h2><%= t('brand.welcome_head') %></h2>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
    <h2>Using the database</h2>
    <div>
	    <p>Start with Keyword searching.</p>
	    <p>For phrase searching, use quotes around your search terms. For example "Defense Audiovisual Agency".</p>
	    <p>Take note of the following throughout the site:</p>
	    <div class="help-images">
	   <img src="/assets/images/BreadCrumb_Snip2.png" alt="Collection breadcrumb"/>
	   <img src="/assets/images/BreadCrumb_Snip1.png" alt="Search results collection breadcrumb"/>
	    </div>
	    <p>The breadcrumbs depicted above allow you to click on futher description and details about your search results.</p>
	    <p>To request or cite material in this database, please use the <em><strong>collection title</strong></em>, <em><strong>accession number</strong></em>, and <em><strong>box number</strong></em>.
    </div>
    <div>
	    <h2>Additional Information</h2>
	    <p>To search our published collection, please see our <strong><a href="http://h92010.eos-intl.net/H92010/OPAC/Index.aspx" target="_blank" title="Public Access Catalog">public access catalog</a></strong>.</p>
	    <p>For the most comprehensive view of our research materials, please consult with our reference archivists by sending an email to <strong><a href="mailto:askhagley@hagley.org" target="_blank" title="askhagley@hagley.org">askhagley@hagley.org</a></strong>.</p>
    </div>
    </div>
  <div class="col-sm-3">
	  <div class="hagley-vault-wrapper">
		  <a href="https://hagleyvault.org" target="_blank" title="Today in the Hagley Vault"><h3>Today in the Hagley Vault</h3>
		  <div class="hagley-vault" id="hagleyvault">
		  </div></a>
		                            <%= javascript_include_tag "#{@base_url}/assets/javascripts/tumblr-feed.js" %>
		  </div>
	  </div>
</div>
