<div class="row">
  <div class="col-sm-8">
    <h2><%= t('brand.welcome_head') %></h2>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
  </div>
  <div class="col-sm-3">
	  <div class="hagley-vault-wrapper">
		  <a href="https://hagleyvault.org" target="_blank" title="Today in the Hagley Vault"><h3>Today in the Hagley Vault</h3>
		  <div class="hagley-vault" id="hagleyvault">
		  </div></a>
		                            <%= javascript_include_tag "#{@base_url}/assets/javascripts/tumblr-feed.js" %>
		  </div>
	  </div>
</div>
